.input {
    label {
        margin-bottom: 0;
    }

    input {
        color: grey;

        &:focus {
            outline: none;
            color: black;
        }

        &:disabled {
            color: grey;
        }

        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}