.dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.dual-ring:after {
    content: ' ';
    display: block;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #510077;
    border-color: #007bff transparent #007bff transparent;
    animation: spinner-animation 1.2s linear infinite;
}

.loading-spinner {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@keyframes spinner-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}