label {
    margin-bottom: 0;
}

a {
    color: black;

    &:hover {
        color: black;
        text-decoration: none;
    }

    &:visited {
        color: black;
    }
}

input {
    color: grey;

    &:focus {
        outline: none;
        color: black;
    }

    &:disabled {
        color: grey;
    }
}

.w-fit {
    width: fit-content;
}

.box {
    border-radius: 12px;
}

.pt-2px {
    padding-top: 2px;
}

.pl-95px {
    padding-left: 95px;
}

.pl-115px {
    padding-left: 115px;
}

.text-grey {
    color: darkgray;
}

.text-black {
    color: #000000;
}

.text-blue {
    color: #007bff;
}

.text-error {
    color: red;
}

.border-error {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid #007bff;
}

.font-smaller {
    font-size: smaller;
}